/*
 Glooobbaaaalllllll
 */

a {
	color: black;
}

a:hover {
	color: #b38fa8;
}

#header {
	color: black;
	margin-right:20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.parallax_section {
	height: 500px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position:relative;
}

.parallax_image_first{
	background-image: url("mountains.JPG");
	width: 100vw;
	height: 600px;
	background-size: cover;
}

.jumbotron {
	background: transparent;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}

.parallax_image_second {
	background-image: url("pink.jpg");
	width: 100vw;
	background-size: cover;
	height: 300px
}

p {
	margin-left: 70px;
	margin-right: 70px;
}

.parallax_image_second {
	height: 300px;
}

.carousel-control-prev {
	width: 20px;;
	height: 80px;
}

.carousel-control-next {
	width: 20px;
	height: 80px;
}

a:link {
	color: #b38fa8;
	background: white;
	border: white;
	list-style: none;
}

.form-group {
	margin-right: 30px;
	margin-left: 20px;
}

.g-recaptcha {
	margin-left: 20px;
}

.btn-success {
	margin-left: 20px;
}

.btn-warning {
	margin-left: 20px;
}

footer {
	background-color: #b38fa8;
}








